* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background-color: black;
  width: 100%;
  margin-top: 30px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 100px;
  padding-top:50px;
  padding-left: 100px;
}

.iconFooter {
  display: flex;
  align-items: center;
}

.iconFooter button {
  background-color: transparent;
  border: none;
  color: white;
}

.iconFooter button :hover {
  color: blue;
}

.iconLink {
  width: 30px;
  height: 30px;
  margin: 15px;
}
.contact {
  display: flex;
  font-weight: 700;
  gap: 50px;
  padding: 25px;
}
 .contact p {
  color: white;
 }

.contact :hover {
  color: blue;
}

.usa {
  color: white;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}
